db.sqlite3
ProtInvis/__pycache__/                                                                                                                       
protinvis_app/__pycache__/                                                                                                                   
protinvis_app/migrations/__pycache__/  