{% extends 'base.html' %}

{% block title %} - О сервисе{% endblock %}

{% block content %}
	
	<div class="chart_wrapper info-page-content">
		
		<h1>Что это?</h1>
		<p class="info-page-content_line">
			<b>ProtInvis</b> <i>(сокращ. с англ.: "Protein Invisible" - "невидимый белок")</i> - проект, созданный для моделирования результата <a href="https://en.wikipedia.org/wiki/Two-dimensional_gel_electrophoresis" target="_blank">двумерного электрофореза белков.</a>
		</p>
		<p class="info-page-content_line">
			В отличии от обычного моделирования, задача <b>ProtInvis</b> показать то, какие из белков будут видны после электрофореза, а какие - нет. Видимые белки будут синего цвета, а невидимые - красным.
		</p>
		<p class="info-page-content_line">
			Это наглядно продемонстрирует результат использования того или иного красителя, показав, на каких из них краситель не зафиксируется, тем самым, сделав белок невидимым для исследования.
		</p> 

		<h1>Как это работает?</h1>
		<ol>
			<li class="info-page-content_line">Информация о белках и протеомах берётся с открытого интернет-источника - <a href="https://www.uniprot.org/" target="_blank">uniprot.org</a></li> 
			<li class="info-page-content_line">Вся информация очищается, на её основе рассчитываются <b>молекулярная масса</b> и <b>изоэлектрическая точка</b>.</li>
			<li class="info-page-content_line">По этим данным строится график распределения белков, так, как бы он выглядел после двумерного электрофореза.</li>
			<li class="info-page-content_line">Если у белка нет ни одной аминокислоты-маркера на которые реагирует краситель, то он отмечается как <b>"невидимый"</b>.</li>
		</ol>

	</div>

{% endblock %}