{% extends 'base.html' %}
	
{% block content %}
	<div class="main-text">
		<div class="str">
			<h2>Что это?</h2>
			<br>
			<b>ProtInvis</b> <i>(сокращ. с англ.: "Protein Invisible" - "невидимый белок")</i> - проект, созданный для моделирования результата <a href="https://en.wikipedia.org/wiki/Two-dimensional_gel_electrophoresis" class="kek" target="_blank">двумерного электрофореза белков.</a>
			<br><br>
			В отличии от обычного моделирования, задача <b>ProtInvis</b> показать то, какие из белков будут видны после электрофореза, а какие - нет. Видимые белки будут синего цвета, а невидимые - красным.
			<br><br> 
			Это наглядно продемонстрирует результат использования того или иного красителя, показав, на каких из них краситель не зафиксируется, тем самым, сделав белок невидимым для исследования.
			<br><br>
			<h2>Как это работает?</h2>
			<br>
			<ol>
				<li>Информация о белках и протеомах берётся с открытого интернет-источника - <a href="https://www.uniprot.org/" class="kek">uniprot.org</a></li> 
				<li>Вся информация очищается, на её основе рассчитываются <b>молекулярная масса</b> и <b>изоэлектрическая точка</b>.</li>
				<li>По этим данным строится график распределения белков, так, как бы он выглядел после двумерного электрофореза.</li>
				<li>Если у белка нет ни одной аминокислоты-маркера на которые реагирует краситель, то он отмечается как <b>"невидимый"</b>.</li>
			</ol>
		</div>
	</div>
{% endblock %}