<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=NTR' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/media_queries.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <title>ProtInvis{% block title %}{% endblock %}</title>
</head>
<body>
    
    <div class="header">
        <ul id="scene">
            <li class="layer"><img src="../static/images/6.png"></li>
            <li class="layer" data-depth=".2"><img class="header-image" src="../static/images/5.png"></li>
            <li class="layer" data-depth=".4"><img class="header-image" src="../static/images/4.png"></li>
            <li class="layer" data-depth=".6"><img class="header-image" src="../static/images/3.png"></li>
            <li class="layer" data-depth="1.2"><img class="header-image" src="../static/images/2.png"></li>
            <li class="layer" data-depth="1.5"><img class="header-image" src="../static/images/1.png"></li>
            <li class="layer" data-depth=".9">
                <a class="protinvis_label" href="{{ url_for('index') }}">ProtInvis</a>
            </li>
        </ul>
        <script type="text/javascript">
            // Parallax
            let scene = document.getElementById('scene');
            let parallax = new Parallax(scene);
        </script>
    </div>
    <div class="end-header">
        <div class="navbar">
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('help') }}">Help</a>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">    
            {% block content %}{% endblock %}
        </div>
    </div>
   
    <div class="footer">
        <p><strong>ProtInvis</strong> 2019 year.</p>
        <p>Для обратной связи, предложений и пожеланий — <i style="color: gold">kir.gimranov@gmail.com</i></p> <br>
    </div>

</body>
</html>