{% extends 'base.html' %}

{% block title %} - Помощь{% endblock %}

{% block content %}
	
	<div class="chart_wrapper info-page-content">
		
		<h1>Главная страница</h1>
		<p class="info-page-content_line">
			Введите id желаемого протеома.<br>
			Протеом может быть:
			<ul>
				<li class="info-page-content_line">Готовый — с <a href="http://uniprot.org/proteomes/" target="_blank">базы данных протеомов</a>. Максимальное число белков в таком случае ~ 35000.</li>
				<li class="info-page-content_line">Составной — расположите один или несколько id белков <b>через пробел</b> с <a href="http://uniprot.org/uniprot/" target="_blank">базы данных белков</a>. Маскимаьное число белков в таком случае ~ 250.</li>
			</ul>
		</p>
		<p class="info-page-content_line">
			Далее выберите краситель. <br>
			От него будет зависеть то, какие белки будут видимы, а какие — нет!
		</p>

		<h1>Баги и проблемы</h1>
		<ul>
			<li class="info-page-content_line">
				<strong>Далее нажимаете на кнопку "Готово". Может происходить так, что процесс не будет запущен, и вас мгновенно вернёт обратно. В таком случае — просто попробуйте нажать ещё раз. <br>
				<i>(Легенда гласит о том, что если нажимать не быстро, а чуть медленее, то у вас всё получится)</i></strong>
			</li>
			<li class="info-page-content_line">
				Если процесс запустился, но появилась <b>"Aplication Error"</b> — скорее всего прошло больше <b>30 секунд</b>, и сервер перестал обрабатывать запрос. Причина — превышение максимума белков.
			</li>
		</ul>

		<h1>Страница с результатом</h1>
		<p class="info-page-content_line">
			Вы получили результат. Данный график распределения показывает вероятный результат двумерного электрофореза. <br>
			<i style="color: lime">Зелёным</i> — белки, которые окрасились, и мы их можем видеть. <br>
			<i style="color: #f44">Красным</i> — белки, которые окрасились, и мы их можем видеть.
 		</p>
 		<p class="info-page-content_line">
 			Можете попробовать, у графика существует немало интерактивных возможностей:
 			<ul>
 				<li class="info-page-content_line">При наведении на белок — виден его id</li>
 				<li class="info-page-content_line">При нажатии на белок — переход на соответсвующую ему страницу в базе данных белков.</li>
 				<li class="info-page-content_line">Существуют также разные дополнительные функции — кнопочки сверху справа.</li>
 			</ul>
 		</p>

	</div>

{% endblock %}