{% extends 'base.html' %}

{% block title %} - Главная{% endblock %}

{% block content %}
<div class="form-style">
    <form action="{% url 'Index' %}" method="POST">
        {% csrf_token %}
            <div>
                {% if form.uniprot_id.errors %}
                    <div class="errorlist-wrapper">
                        <p>Ошибка</p>
                        {{ form.uniprot_id.errors }}
                    </div>
                {% endif %}

                {{ form.uniprot_id.label }} <br>
                {{ form.uniprot_id }}  <br>
            </div>
            <div>
                {{ form.the_dye.label }} <br>
                {{ form.the_dye }}  <br>
            </div>
        <button type="submit">Готово</button>
    </form>
</div>
{% endblock %}
