{% extends 'base.html' %}

{% block title %} - Главная{% endblock %}

{% block content %}
<div class="form-style">
    <form action="{% url 'Index' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {% if field.errors %}
                    <div>
                        {{ field.errors }}
                    </div>
                {% endif %}

                {{ field.label }} <br>
                {{ field }}  <br>
            </div>
        {% endfor %}
        <button type="submit">Готово</button>
    </form>
</div>
{% endblock %}
