<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<link rel="stylesheet" type="text/css" href="../static/styles/styles9.css"/>
	<title>ProtInvis</title>
</head>
<body>
	<header>
		<header class="text">
			ProtInvis
		</header>
		Сокращённо от "Proteome/Protein invisible". Название придумано на ходу, так что предложите своё, если это не нравится.
	</header>
	<div class="content">

		{% block content %}{% endblock %}

		<div class="message">
			<p>Сайт на стадии разработки и бета-тестинга. Я уже очень (ОЧЕНЬ) устал им заниматься, и этот деплой - первая точка в этом проекте. Жду критики и предложений, Валерий Генадьевич! Мне нужно знать, что делать дальше, что корректировать и т.д.</p>
			<p>Далее планируется:</p>
			<ul>
				<li>создать ещё пару страниц на сайте: 
					<ul class="ul-2">
						<li>How to - мануал с примерами. Хотя можно его как-нибудь впихнуть и в саму страницу с вводом данных</li>
						<li>About - о проекте, когда, кем, и для чего создан</li>
						<li>Contacts - оставлю электронную почту для вопросов/предложений и т.д.</li>
					</ul>
				</li>
				<li>дизайн изменить - жду ваших предложений, т.к. я не мастер веб-дизайна</li>
				<li>добавить возможность изменить язык всего содержимого на текущей веб-странице (пока рассматривается лишь rus/eng)</li>
				<li>изменить саму электрофореграмму - цвет, размер, прозрачность точек; изменить минимальные и максимальные значения осей (пока стоит лишь ограничение на молекулярный вес в 250000 кДа); добавить информацию, например, о том, какой краситель был использован и сколько белков останется не видимыми (либо количественно, либо процент).</li>
			</ul>
		</div>
	</div>
	<footer>
		Created in 2019. Beta-edition
	</footer>
</body>
</html>