body {
    background-color: #111;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Comfortaa";
}

.header {
    height: 420px;
    margin: 0 50px 0 50px;
    background: #f7f7f7;
    overflow: hidden;
    background-blend-mode: screen;
    border-radius: 0 0 120px 120px;
    box-shadow: inset 0px 0px 19px 2px rgba(17,17,17,1);
}

    #scene {
        margin: 0;
        padding: 0;
        vertical-align: middle;
        text-align: center;
    }

    .layer {
        pointer-events: auto;
    }

    .protinvis_label {
        padding: 5% 0 0 16%;
        color: #111;
        font-size: 200px;
        font-family: 'NTR';
        text-decoration: none;
        text-shadow: 
                    0px 0px 7px rgba(127, 127, 127, 0.75),
                    0px 0px 15px rgba(17, 17, 17, 0.75),
                    0px 0px 20px rgba(127, 127, 127, 0.5);
    }

    img.header-image {
        margin: -25% 0 -29% 0;
    }

.end_header {
    height: 120px;
    width: 100%;
    background: #111;
}

.content-wrapper {
    height: 1400px;
    margin: 0 50px 50px 50px;
    background: #f7f7f7;
    border-radius: 50px;
    box-shadow: inset 0px 0px 19px 2px rgba(17,17,17,1);
}

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

        .index-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
        }

            form {
                padding: 100px 50px 100px 50px;
                border-radius: 25px;
                box-shadow: 0px 0px 19px 2px rgba(17,17,17,1);
                background-color: #111;
                color: #f7f7f7;
                font-size: 30px;
            }

            input[type="text"], select {
                box-sizing: border-box;
                padding: 3%;
                margin: 10% 0 10% 0;
                width: 100%;
                outline: none;
                border-radius: 10px;
            }

            input[type="text"]:focus, select:focus {
                box-shadow: 
                            inset 0px 0px 3px 2px rgba(17, 17, 17, 1),
                            inset 0px 0px 7px 2px rgba(221, 214, 133, 1);
                padding: 3%;
                border: 2px solid #f7f7f7;
            }

            button {
                border-radius: 10px;
                box-sizing: border-box;
                width: 80%;
                padding: 3%;
                margin: 30% 0 10% 0;
                background-color: #f7f7f7;
                border-bottom: 2px solid shadow;
                border-top-style: none;
                border-right-style: none;
                border-left-style: none;    
            }

            .errorlist-wrapper {
                background-color: red;
                border-radius: 10px;
                margin-bottom: 20%;
                padding: 5px;
            }

            .errorlist {
                font-size: 20px;
                text-align: center;
                margin-right: 15px;
            }

            .guide {
                visibility: hidden;
                text-align: left;
                width: 350px;
                padding: 70px 20px 50px 20px;
                box-shadow: 0px 0px 19px 2px rgba(17,17,17,1);
                border-radius: 25px;
                font-size: 110%;
                background: radial-gradient(#eee, transparent);
            }

                h2 {
                    text-align: center;
                }

                .guide-ul > li {
                    list-style-type: none;
                    padding-top: 20px;
                }

        .chart_wrapper {
            color: white;
            width: 80%;
            background-color: #111;
            padding: 20px;
            border-radius: 50px;
            box-shadow: 0px 0px 19px 2px rgba(17,17,17,1);
        }

        .uniprot_id_data {
            color: #f7f7f7;
            font-size: 120%;
            font-family: 'NTR';
            text-decoration: none;
        }

        .svg-container {
            width: 100vw; 
            height: 1000px;
        }

        .info-page-content {
            width: 50%;
            font-size: 120%;
            text-align: left;
            padding: 50px 50px 200px 50px;
        }

            .info-page-content_line {
                padding: 20px;
            }

                .info-page-content_line > a,
                .info-page-content_line > a:visited {
                    color: red;
                }

            h1 {
                text-align: center;
                margin-top: 100px;
            }


